{% extends "base.html" %}
{% block title %}Arata{% endblock %}

{% block content %}
<style>
    #privacy_policy{
        margin: auto;
        width: 60%;
    }

    h1{
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 50px;
    }
    p{
        font-size: 20px;

    }
</style>

<div id="privacy_policy">
    <h1>Arata Privacy Policy</h1>
    <p><b>1. Data Security</b></p>
    <p>Our company have our own data security staff to manage your data.All of our staff have more than 10 year of experience implementing different way to ensure that your personal data are used and stored safely.</p><br>
    <p><b>2. Use of Personal Data</b></p>
    <p>Our company use your data for order and payment only</p><br>
    <p><b>3. Data withdraw</b></p>
    <p>You can call our customer service hotline to remove all your personal data at any time.</p><br>
    <p><b>4. Customer service hotline</b></p>
    <p>Arata Customer Service hotline number: +65 61234567</p><br>
</div>
{% endblock %}
