{% extends "base.html" %}
{% block title %}Arata{% endblock %}

{% block content %}
<style>
    #terms_and_condition{
        margin: auto;
        width: 60%;
    }

    h1{
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 50px;
    }
    p{
        font-size: 20px;

    }
</style>

<div id="terms_and_condition">
    <h1>Arata Terms and Condition</h1>
    <p><b>1. Information About Arata</b></p>
    <p>All name and logo is register with the country that we operate.</p><br>
    <p><b>2. Ordering</b></p>
    <p>After ordering the food, we are able to cancel your order in the event that food is out of stock</p><br>
    <p><b>3. Cancellation of order</b></p>
    <p>If customer want to cancel the order, our company will refund partial or full amount depend on several reason such the loss incured by the company.</p><br>
    <p><b>4. Pricing</b></p>
    <p>All price shown in the receipt cannot be change in the event of flash discount.</p><br>
</div>
{% endblock %}
