{% extends "base.html" %}
{% block title %}Arata{% endblock %}

{% block content %}


<style>
    #title{
        text-align: center;
        padding-top: 30px;
    }
    #msg{
        color: red;
        text-align: center;
    }

    .space {
      margin-left: 20%;
      margin-right: 20%;
      width: 50%;
      padding: 100px;
    }

    .container * {
      box-sizing: border-box;
    }

    .container h1 {
      font-weight: bold;
    }

    .container a {
      color: #333;
      font-size: 14px;
      text-decoration: none;
      margin: 15px;
    }

    .container button {
      border-radius: 20px;
      border: 1px solid blue;
      background-color: blue;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
    }

    .container button:focus {
      outline: none;
    }

    .container button.hidden {
      background-color: transparent;
      border-color: #FFFFFF;
    }

    .container form {
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 50px;
      height: 100%;
      text-align: center;
    }

    .container input {
      font-family: Arial;
      background-color: #eee;
      border: none;
      padding: 12px 15px;
      margin: 8px;
      width: 100%;
    }

    .container select {
      font-family: Arial;
      background-color: #eee;
      border: none;
      padding: 12px 15px;
      margin: 8px;
      width: 100%;
    }
    .container #date {
      font-family: Arial;
      background-color: #eee;
      border: none;
      padding: 20px 15px;
      margin: 8px;
      width: 100%;

    }

    .container {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      position: relative;
      width: 768px;
      min-height: 600px;
      overflow: hidden;
    }

    .form-container {
      position: absolute;
      height: 100%;
      transition: all 0.6s ease-in-out;
    }

    .signin-container {
      width: 50%;
      z-index: 2;
    }

    .container.right-panel-active .signin-container {
      transform: translateX(100%);
    }

    .signup-container {
      width: 50%;
      z-index: 1;
    }

    .container.right-panel-active .signup-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: 0.6s;
    }


    .overlay-container {
      position: absolute;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100;
    }

    .container.right-panel-active .overlay-container {
      transform: translateX(-100%);
    }

    .overlay {
      background: blue;
      color: #FFFFFF;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
    }

    .container.right-panel-active .overlay {
      transform: translateX(50%);
    }

    .overlay-panel {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 100%;
      width: 50%;
    }

    .overlay-right {
      right: 0;
    }
    td{
        padding-right: 10px;
    }
</style>
<script>
     var check = function() {
        if (document.getElementById('signup_password').value == document.getElementById('signup_confirm_password').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Password is match';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Password not match';
        }
    }
</script>
<h1 id="title">Customer Sign in or Sign up Page</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p id="msg">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<div class="space">
    <div class="container" id="container">
        <div class="form-container signup-container">

            <form action="/customer_signin_signup/signup" method="post">
                <h1>Create Account</h1>
                <input type="email" name="signup_email" placeholder="Enter your Email Address" required />
                <input type="password" name="signup_password" id="signup_password" onkeyup='check();' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter Password" required>
                <input type="password" name="signup_retype_password" id="signup_confirm_password" onkeyup='check();' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter Confirm Password" required>
                <span id='message'></span>
                <input type="date" name="signup_date_of_birth" required />
                <input type="text" name="signup_name" placeholder="Enter your Name" required />
                <select name="signup_gender">
                    <option disabled="disabled" selected="selected" id="genderlist">Select an Gender.</option>
                    <option >Male</option>
                    <option>Female</option>
                </select>
                <input type="phone number" name="signup_phone_number" title="8 digits starting with 6, 8, 9. " pattern="(6|8|9)\d{7}" placeholder="Enter your Phone Number"  minlength="8" maxlength="8" required /><br>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container signin-container">
            <form action="/customer_signin_signup/signin" method="post">
                <h1>Sign in</h1>

                <input type="email" name="signin_email" placeholder="Email" />
                <input type="password" name="signin_password" id="password" placeholder="Password" />
                <table>
                    <tr>
                        <td><input type="checkbox" onclick="myFunction()"/></td>
                        <td><label>Show Password</label></td>
                    </tr>
                </table>
                <a href="/customer_forgot_password">Forgot password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back to Arata</h1>
                    <p>Please login to view your personal information and make a order</p>
                    <button class="hidden" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Welcome to Arata</h1>
                    <p>Please enter your personal details to create a Arata account</p>
                    <button class="hidden" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
      container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
      container.classList.remove("right-panel-active");
    });

    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    }
 </script>
{% endblock %}
