{% extends "base.html" %}

{% block title %}Arata{% endblock %}

{% block content %}
<style>
     h1{
        padding-top: 50px;
        text-align: center;
    }

    table{
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    table tr th{
        font-size: 25px;
        text-align:right;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    table tr td{
        font-size: 25px;
        text-align:left;
    }
    div{
        text-align: center;
    }
    #msg{
        padding-top: 20px;
        color: red;
        font-size: 20px;
    }
    #submit{
        font-size: 25px;
        background-color: #6FC9E7;
        border: none;
        border-radius: 15px;
        padding: 10px 50px 10px;
    }
    #submit:hover{
       background-color: blue;
       color: white;
    }
    td{
        padding-bottom: 10px;
    }
</style>
<form action="#" method="post">
    <h1>Change Password</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p id="msg">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <table>
        <tr>
            <th>Password: </th>
            <td><input type="password" name="new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="New Password" /></td>
        </tr>
        <tr>
            <th>Confirm Password: </th>
            <td><input type="password" name="confirm_new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Confirm New Password" /></td>
        </tr>
    </table>
    <button id="submit">Submit</button>
</form>
{% endblock %}
